.DS_Store
.idea/
.gradle
*.iml
build/
target/
temporary/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!webservices-api.jar
!webservices-rt.jar.jar
